<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp120200208112335.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5a51f9b5-8895-47b6-aa2b-c046a40a4206/resourcegroups/demo0217/providers/Microsoft.Web/sites/FunctionApp120200208112335</ResourceId>
    <UserName>$FunctionApp120200208112335</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionapp120200208112335.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>